<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block description %}Playtime tracker for the DreamSMP Minecraft server{% endblock %}">
	<meta name="theme-color" content="#00FF00">
  <meta name="robots" content="index, follow">
	<meta property="og:title" content="{% block ogtitle %}DreamSMP member tracker{% endblock %}">
	<meta property="og:description" content="{% block ogdescription %}Playtime tracker for the DreamSMP Minecraft server{% endblock %}">
	<meta property="og:type" content="{% block ogtype %}website{% endblock %}"/>
	<link rel="shortcut icon" type="image/jpg" href="//cdn.matdoes.dev/dreamsmp/favicon.jpg"/>
	<link rel="manifest" href="//cdn.matdoes.dev/manifest.webmanifest">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="DreamSMP">
	<link rel="apple-touch-icon" href="//cdn.matdoes.dev/dreamsmp/favicon.jpg">
	<link rel="apple-touch-startup-image" href="//cdn.matdoes.dev/dreamsmp/favicon.png">
	<link rel="sitemap" href="/sitemap.xml" />
  <title>{% block title %}DreamSMP member tracker{% endblock %}</title>
	{% endblock %}
</head>
<body>
	{% block body %}
	<main>
		{% block main %}

		{% endblock %}
	</main>
	{% endblock %}
</body>
</html>